@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';

body {
    color: $main-color;
    background-color: $body-bg;
}

h1, h2, h3 { color: $heading-color }

.panel { min-height: 30vh; }

.panel:nth-child(odd) {
    background-color: pink;
    color: rgb(255, 255, 255);
}

#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }

@import 'modules/_footer'
