<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon.png">
    <link rel="stylesheet" href="css/main.css">
    <title>Favoritethings</title>
</head>

<body>
    <h1>MY FAVORITE THREE THINGS</h1>
    <nav data-module="nav">
        <!-- nav elements must have nav-item -->
        <ul>
        </ul>
    </nav>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <p>here's some footer text</p>

        <ul>
            
        </ul>
    </footer>

    <a id="to-top" href="#" class="nav-item">back to top</a>

    <script type="module" src="js/main.js"></script>
    <script>
        var name = "Justin";

        console.log('name in main file: ' + name);
    </script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates-->
  
</body>

</html>